body {
	color: #fff;
	background-color: #ccc;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-in-from {
	min-width: 500px;
}

.sign-in-from form {
	margin-top: 0 !important;
	padding: 30px;
}

.sign-in-from .sign-info {
	margin-top: 20px;
}